/*
================================================================================
Variables
================================================================================
*/
:root {
  --b: #212121;
  --f: #ffffff;
}

/*
================================================================================
Base
================================================================================
*/
* {
  margin:  0;
  padding: 0;
}

body {
  background: var(--f);

  display: grid;
  align-content: center;
  justify-items: center;

  height: 100vh;

  overflow: hidden;
}

/*
================================================================================
Input
================================================================================
*/
#i,
#b,
#t {
  width: 244px;
  padding: 4px;

  border: 1px solid var(--b);
  border-radius: 2px;

  background: var(--f);
  color: var(--b);
}

#b {
  width: 100%;
  margin-top: 12px;
}
#b:hover,
#t:hover { cursor: pointer; }

#b:hover, #b:focus,
#t:hover, #t:focus,
#i::selection {
  background: var(--b);
  color: var(--f);
}

#t {
  width: 50%;
  transform: translateX(50%);
  margin-top: 12px;
}
